html {
  background-color: #240059;
}

.all-movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.landing-img {
  overflow: hidden;
}

.msg-container {
  display: flex;
  padding: 10vh;
}

.user-msg {
  margin-right: 10vh;
  color: #87e7ff;
}

@media only screen and (max-width: 800px) {
  .all-movies {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 550px) {
  .all-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
