h2, h3, p {
  color: white;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
  color: white;
  background-size: cover;
}

.movie-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.ind-movie-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vw;
  min-width: 300px;
  border-radius: 15px;
  border: #87e7ff solid 3px;
  margin: 2vw;
}

.movie-stats {
  margin: 2vw;
  padding: 1vw;
  border-radius: 15px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 40vw;
}
