.movie-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.movie-backdrop {
  width: 100%;
}

.movie-display {
  display: flex;
  flex-direction: row;
}

.movie-poster {

}
