h2, h3, p {
  color: white;
}

.movie-card {
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-top: #87e7ff solid 3px;
  border-bottom: #87e7ff solid 3px;
  width: 100%;

  color: white;
}

.ind-movie-poster {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 28vw;
  min-width: 300px;
  margin: 2vw;
  border-radius: 15px;
  border: #87e7ff solid 3px;
}

.movie-stats {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40vw;
  margin: 2vw;
  padding: 3vw;
  border: #87e7ff solid 3px;
  border-radius: 15px;
}

.title-rating-genres {
  text-align: center;
  margin-bottom: 1vw;
}

.title {
  font-size: 4rem;
}

.avg-rating {
  margin-bottom: 1vw;
  font-size: 2rem;
}

.overview-tag {
  text-align: center;
  margin-bottom: .5vw;
}

.overview {
  margin-bottom: 1vw;
  font-size: .9rem;
}

.tagline {
  font-size: 1.5rem;
  font-style: italic;
}

.data-table {
  text-align: center;
  margin-bottom: .5vw;
  border-spacing: 1vw;
}

.top-row {
  text-decoration: underline;
  font-weight: bold;
}

.return-home {
  border: #87e7ff solid 3px;
  border-radius: 15px;
  background-color: #240059;
  color: white;
  font-size: 1.5rem;
}

.return-home:hover {
  transform: scale(1.1);
  box-shadow: 0 0 .75em #87e7ff;
}

@media only screen and (max-width: 550px) {

  .movie-card {
    flex-direction: column-reverse;
  }

  .ind-movie-poster {
    width: 90vw;
  }

  .movie-stats {
    width: 84vw;
  }

  .genres {
    font-size: 1.2rem;
  }

  .data-table {
    font-size: 1.2rem;
  }

  .overview {
    font-size: 1.25rem;
  }

  .tagline {
    font-size: 1.75rem;
    font-style: italic;
  }
}
