.search-container {
  background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2luZW1hfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
  display: block;
  height: 350px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #87e7ff solid 3px;
  border-bottom: #87e7ff solid 3px;
}

.search-form > input {
  height: 4vw;
  width: 25vw;
  font-size: 21px;
  border-radius: 15px;
  border: #87e7ff solid 3px;
}

.search-form > button {
  border: #87e7ff solid 3px;
  border-radius: 15px;
  background-color: #240059;
  color: white;
  font-size: 1.5rem;
  height: 4.5vw;
}

.search-form > button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 .75em #87e7ff;
}

@media only screen and (max-width: 800px) {
  .search-container {
    height: 300px;
  }

  .search-form > input {
    width: 30vw;
    height: 5vw;
  }

  .search-form > button {
    height: 6vw;
  }
}

@media only screen and (max-width: 550px) {
  .search-container {
    height: 150px;
  }

  .search-form > input {
    width: 45vw;
    height: 7vw;
  }

  .search-form > button {
    height: 10vw;
  }
}
