h2 {
  color: #87e7ff;
}

.nav-bar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(#240059, #4601b5, #240059);
  font-family: 'Anton', sans-serif;
  color: #87e7ff;
  height: 15vh;
}

.nav-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 1vw;
  margin-right: 1vw;
}

.logo {
  width: 30px;
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 550px) {

}
