* {
  /* border: 1px solid green; */
}

h3 {
  margin: 0;
}

.movie-poster:hover {
  transform: scale(1.1);

  box-shadow: 0 0 .75em #87e7ff;
}

.movie-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22vw;
  margin: 1vw;
  border-radius: 15px;
  border: #87e7ff solid 3px;
}
